# dependencies
node_modules/

# compiled files
build/

# env
.env

# editors
.idea/
.vscode/

# logs
npm-debug.log*
yarn-error.log*

# lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# JUnit
results.xml

# npm config with possible tokens
.npmrc

# local variants (for your local testing needs)
*.local.*

# macOS
.DS_Store
